n8n/payment-execution.json
{
  "name": "LeanOS - Payment Batch Execution",
  "nodes": [
    {
      "parameters": {
        "path": "payment-batch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming batch data\nconst body = $input.first().json.body;\nconst batchId = body.batchId;\nconst payments = body.payments || [];\n\n// Return each payment as separate item for iteration\nreturn payments.map(p => ({\n  json: {\n    batchId,\n    paymentId: p.id,\n    amount: p.amount,\n    recipientName: p.recipientName,\n    recipientAccount: p.recipientAccount,\n    recipientBank: p.recipientBank,\n    description: p.description\n  }\n}));"
      },
      "id": "parse-payments",
      "name": "Parse Payments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tosspayments.com/v1/payouts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "bankCode", "value": "={{ $json.recipientBank }}" },
            { "name": "accountNumber", "value": "={{ $json.recipientAccount }}" },
            { "name": "holderName", "value": "={{ $json.recipientName }}" },
            { "name": "amount", "value": "={{ $json.amount }}" },
            { "name": "transferPurpose", "value": "={{ $json.description }}" }
          ]
        },
        "options": {}
      },
      "id": "toss-payout",
      "name": "Toss Payout API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://njbvdkuvtdtkxyylwngn.supabase.co/rest/v1/payment_queue?id=eq.' + $json.paymentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "executed" },
            { "name": "executed_at", "value": "={{ new Date().toISOString() }}" },
            { "name": "transfer_ref", "value": "={{ $json.transferId || 'n8n-' + Date.now() }}" }
          ]
        },
        "options": {}
      },
      "id": "update-success",
      "name": "Update Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://njbvdkuvtdtkxyylwngn.supabase.co/rest/v1/payment_queue?id=eq.' + $json.paymentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "failed" }
          ]
        },
        "options": {}
      },
      "id": "update-failure",
      "name": "Update Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-result",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, executionId: $execution.id }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Parse Payments", "type": "main", "index": 0 }]] },
    "Parse Payments": { "main": [[{ "node": "Toss Payout API", "type": "main", "index": 0 }]] },
    "Toss Payout API": { "main": [[{ "node": "Check Result", "type": "main", "index": 0 }]] },
    "Check Result": {
      "main": [
        [{ "node": "Update Success", "type": "main", "index": 0 }],
        [{ "node": "Update Failure", "type": "main", "index": 0 }]
      ]
    },
    "Update Success": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Update Failure": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "lean-os"
  }
}
